.gadget_chosen {
    max-width: 100px;
    cursor: pointer;
}

#gadget_chosen {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

.node rect {
cursor: pointer;
}

.node text {
font: 13px sans-serif;
}

.link {
fill: none;
stroke: #f7fcfd;
stroke-width: 1.5px;
}

body{
    background-color: #263238;
    font: 15px sans-serif;
    color: #fafafa;
    /*DISABLE WHOLE SELECTION*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

label {
    font-weight: normal;
    clear:left;
    text-align:right;
    padding-right:10px;
}


.title{
    position: fixed;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
}

#btnadd {
    margin-top: 240px;
    margin-left: -27px;
    position: absolute;
}

rect {
   fill:#66c2a4;
   fill-opacity: 1;
   stroke: #000000;
   stroke-width: 1px;
   }


 div.tooltip {
   position: absolute;
   text-align: center;
   max-width: 1000px;
   height: 18px;
   font: 13px sans-serif;
   background: #f7fcfd;
   color: black;
   padding: 3px;
   pointer-events: none;
   overflow:hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   border-style: none solid none none;
   border-width: 1px;
   padding-right: 0.5em;
 }

 div.legend
 {
     width:10px; 
     height:10px; 
     border:1px solid #000; 
     display:inline-block; 
     vertical-align: middle;
     border-radius: 1px;
 }

 div.chain_tooltip, div.mds_tooltip
 {
    position: absolute;
    display: none;
    height: auto;
    background: #f7fcfd;
    color: black;
    border: 1px solid #000000;
    border-width: 1px;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    pointer-events: none;
 }

 .filter_bar{
    width:50%;
    height:25px;
    font: 13px sans-serif;
 }

 .stack_treshold{
    height:25px;
    font: 13px sans-serif;
 }

 .loadconst_bar
 {
     border-radius: 2px;
     border:solid 1px black;
 }

 .axis,
    .frame {
    shape-rendering: crispEdges;
    }
    
    
    .axis line {
    stroke-width: 2px;
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    }
    
    .axis path {
    stroke-width: 2px;
    stroke: white;
    fill: none;
    }
    
    .axis text {
    font-size: 0px; /*hide*/
    }

    .label {
    font-size: 13px;
    fill: white;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
    }

    .datapoint {
    r: 5;
    fill-opacity: 1;
    stroke: #e33229;
    stroke-width: 0px;
    cursor: pointer;
    }

    .chainpoint {
    r: 10;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 1px;
    }

    button, .reset {
    background-color: #f7fcfd; 
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

label.upload{
    display: inline-block;
    background-color: #f7fcfd; 
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    padding: 3px 8px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover, .reset:hover, label.upload:hover {
    background-color: #dbdbdb; 
    border: 1px solid black;
    text-decoration: none;
}

.switch {
    vertical-align: -5px;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #66c2a4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #66c2a4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}