.gadget_chosen {
    max-width: 100px;
}

.node rect {
cursor: pointer;
}

.node text {
font: 13px sans-serif;
}

.link {
fill: none;
stroke: #f7fcfd;
stroke-width: 1.5px;
}

body{
    background-color: #263238;
    font: 15px sans-serif;
    color: #fafafa;
}

labels {
    font-weight: normal;
}


.title{
    position: fixed;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
}

#btnadd {
    margin-top: 240px;
    margin-left: -27px;
    position: absolute;
}

rect {
   fill:#66c2a4;
   fill-opacity: 0.8;
   stroke: #000000;
   stroke-width: 1px;
   }


 div.tooltip {
   position: absolute;
   text-align: center;
   width: 60px;
   height: 28px;
   padding: 2px;
   font: 12px sans-serif;
   background: lightsteelblue;
   border: 0px;
   pointer-events: none;
 }
